@import "../../assets/variables.scss";

.buttons-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.button {
  background-color: $bg-tertiary;
  border-radius: 10px;

  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
  border: none;
  text-transform: capitalize;

  &:hover {
    background-color: $btn-hover;
    cursor: pointer;
  }
}
