$bg-primary: #e8ae68;
$bg-secondary: #a57f60;
$bg-tertiary: #765942;
$bg-quaternary: #e3a587;
$btn-hover: #b6967c;

$textPrimary: #ffffff;
$textSecondary: "#000000";


// breakpoints
$xs: 480px;
$s: 768px;